#parent {
    border: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #0d2751;
    background-color: #eeeeee;
    font-size: 14pt;
}

#wrapper .child1 {
    float: left;
    width: 85%;
}

#wrapper .child2 {
    margin-left: 88%;
    margin-top: 5%;
}

div.clear {
    clear: both;
}

table.default_table {
    width: 100%;
    margin-left: -20px;
    border: none;
    border-collapse: separate;
    border-spacing: 30px 20px;
}

table.default_table td.input_slider {
    text-align: left;
    border-bottom: none;
}

.hd-slider-width {
    width: 70%;
}

.hd-number-width {
    width: 20%;
}

form.slider_input {
    width: 130%;

}

label.before_slider {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;

}
td {
  border-bottom: none;
}
